
/*CLASS DE PAGINA INDEX*/  
.posicion{
  background-color: black;
  color: aliceblue;
  }

.header1{
  margin-right:3% ;
  margin-left: 3% ;
}
.PALLADO {
  display: flex;
  float: right;
  border-radius: 80px;
                   }
